.DS_Store
.AppleDouble
.LSOverride
Icon
._*

report.html
report.json

*.gen.ts

node_modules/
npm-debug.log
yarn-error.log
.pnp.*
.pnpm-debug.log*
npm-error.log
.npmrc

*.tsbuildinfo

*.log
*.map

dist/
web-build/

*.gradle
*.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swm

.vite/
stats.html

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
vendor/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

/vendor/

.sass-cache/

*.py[cod]
__pycache__/
*.egg
*.egg-info/
*.pyd

.env
.phpunit.result.cache
storage/
bootstrap/cache/

var/

swoole.log

docs/.vitepress/dist
docs/.vitepress/cache

.next/
out/

.project

*.class
*.war
*.ear
*.iml
*.ipr
*.iws
target/
.mvn/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings/

.gradle
build.gradle
settings.gradle
gradle.properties
gradlew
gradlew.bat
.gradle/

.idea/

.classpath
.cproject
.apt_generated/
.factorypath
.metadata
.recommenders
*.launch

.history/
*.code-workspace

*.sublime-project
*.sublime-workspace

*~
\#*\#
.\#*

*.swp
*.swo
*.swn

nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

*.user
*.userosscache
*.sln.docstates

.Spotlight-V100
.Trashes
._.Trashes
.fseventsd

.history

logs
*.log.*
npm-debug.log*
lerna-debug.log*

.pnp
.npm
.yarn/cache
.yarn/unplugged
.pnpm

.eslintcache

.node_repl_history

*.tgz

.env.*
!.env.example

.output
.data
.nuxt
.nitro
.cache
dist

.cache/

.vuepress/dist

/coverage

/out

/.serverless/
/.fusebox/

/.docusaurus/

*.tsbuildinfo.*

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

.vscode-test/
/*.tmp
/*.bak
/*.swp

/.idea/

/.idea
/local.properties
/.cxx/
**/build/
.navigation/
/captures/
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

.vs
*.dbmdl
Thumbs.db

*.bak
*.backup
backups

*.out
*.o
*.pyc
*.pyo
*.pycache/

coverage
.nyc_output

error_reporting/

tmp
temp
build
.cache

.firebaserc
.firestore
firebase-debug.log
firestore-debug.log

*.tmp
*.temp
tmp/*
temp/*
cache/*
logs/

*.seed
*.pid
*.pid.lock

*.tar
*.gz
*.zip
*.rar
*.7z
*.bz2

*$py.class

env/
venv/
ENV/
env.bak/
venv.bak/

.spyderproject
.spyproject

.ropeproject

/site

.mypy_cache/
.dmypy.json
dmypy.json

.pyre/

.pytype/

cython_debug/

.idea/*

yarn-debug.log*
.pnp/
.yarn/cache/
.yarn/unplugged/
pnpm-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

lib-cov
*.lcov

tslint.json
tslint.yaml

.yarn-integrity

.parcel-cache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.stylelintcache

storybook-static

*.crx
*.pem

/vendor
/public/storage
/storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
/var/
/public/bundles/
/config/jwt/
/public/media/cache/

.openswoole/

/bin
/build
.expo/
.expo-shared/
react-native.config.js

/docs/.vitepress/dist

manifests/

*.tmproj
*.tmproject
*.tmPreferences
/.project
/.classpath
/.metadata
/.recommenders
/.settings/
.pmd

ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

*.lock
*.seed.lock

!yarn.lock
!composer.lock

.vite_opt_cache
pnpm-global
*.timestamp-*.mjs
expo-env.d.ts
.metro-health-check*

tmp/

cache/

install-state.gz

myelophone.ts

.million

test-results
playwright-report